<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- site css -->
    <link rel="stylesheet" href="{{'/assets/main.css' | prepend: site.baseurl}}">

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="cover-container d-flex w-100 h-100 px-3 mx-auto flex-column">
    	{% include navigation.html %}
      {{ content }}
	  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Bootstrap JS -->
    <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
    <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
  </body>
</html>
